/* Animation for Hamburger Icon */
.hamburger {
    transition: transform 0.3s ease;
}

.hamburger svg path {
    transition: d 0.3s ease;
}

.hamburger-open {
    transform: rotate(90deg);
}

@keyframes dropdownSlideIn {
    0% {
        opacity: 0;
        transform: scale(0.95) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes dropdownSlideOut {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    100% {
        opacity: 0;
        transform: scale(0.95) translateY(-10px);
    }
}

.dropdown-menu {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu-open {
    animation: dropdownSlideIn 0.3s forwards ease-out;
}

.dropdown-menu-close {
    animation: dropdownSlideOut 0.3s forwards ease-in;
}
